.firmaimg{
    position: relative;
    width: 250px;
    bottom: -230px;
    right: -35px;
}

.logoimg {
    padding-bottom: 100px;
    position: relative;
    width: 200px;
    top: -20px;
    right: 30px;
}